$dev_version: true;


$variables: (
		"white": #ffffff,
		"$first_color": #0f6267, // 1 hubl("$first_color")
		"$cta_color": #ffffff, // 4 hubl("$cta_color")
		"$main_font_color": #626262, // 7 hubl("$main_font_color")
);

$browser-context: 16; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

// Przelicznik z px na rem
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/
	;
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var) {
	@if $dev_version == false {
		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables, $var);
	}
}

@function hubl_rgba($var,$alpha) {
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables, $var), $alpha);
	}
}