.mt {
	@for $i from 0 through 60 {
		&--#{$i*5} {
			margin-top: #{$i*5/$browser-context}rem;
		}
		&---#{$i*5} {
			margin-top: -#{$i*5/$browser-context}rem;
		}
	}

	@media (min-width: 576px) {
		@for $i from 0 through 60 {
			&--sm-#{$i*5} {
				margin-top: #{$i*5/$browser-context}rem;
			}
			&---sm-#{$i*5} {
				margin-top: -#{$i*5/$browser-context}rem;
			}
		}
	}

	@media (min-width: 768px) {
		@for $i from 0 through 60 {
			&--md-#{$i*5} {
				margin-top: #{$i*5/$browser-context}rem;
			}
			&---md-#{$i*5} {
				margin-top: -#{$i*5/$browser-context}rem;
			}
		}
	}

	@media (min-width: 992px) {
		@for $i from 0 through 60 {
			&--lg-#{$i*5} {
				margin-top: #{$i*5/$browser-context}rem;
			}
			&---lg-#{$i*5} {
				margin-top: -#{$i*5/$browser-context}rem;
			}
		}
	}

	@media (min-width: 1200px) {
		@for $i from 0 through 60 {
			&--xl-#{$i*5} {
				margin-top: #{$i*5/$browser-context}rem;
			}
			&---xl-#{$i*5} {
				margin-top: -#{$i*5/$browser-context}rem;
			}
		}
	}
}

// margin bottom
.mb {
	@for $i from 0 through 40 {
		&--#{$i*5} {
			margin-bottom: #{$i*5/$browser-context}rem;
		}
	}

	@media (min-width: 576px) {
		@for $i from 0 through 40 {
			&--sm-#{$i*5} {
				margin-bottom: #{$i*5/$browser-context}rem;
			}
		}
	}

	@media (min-width: 768px) {
		@for $i from 0 through 40 {
			&--md-#{$i*5} {
				margin-bottom: #{$i*5/$browser-context}rem;
			}
		}
	}

	@media (min-width: 992px) {
		@for $i from 0 through 40 {
			&--lg-#{$i*5} {
				margin-bottom: #{$i*5/$browser-context}rem;
			}
		}
	}

	@media (min-width: 1200px) {
		@for $i from 0 through 40 {
			&--xl-#{$i*5} {
				margin-bottom: #{$i*5/$browser-context}rem;
			}
		}
	}
}