.bulleted-list {
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		max-width: rem(600);
		list-style-type: none;
		margin: rem(30) auto;

		li {
			width: 50%;
			position: relative;
			margin-bottom: rem(15);
			padding: 0 rem(10) 0 rem(30);
			@media(max-width: 600px) {
				width: 100%;
				max-width: rem(333);
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: rem(4);
				width: rem(20);
				height: rem(20);
				background-image: url(https://cdn2.hubspot.net/hubfs/2170881/check.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}

	&__cta {
		text-align: center;
	}
}