.cta-three-boxes {
	background-color: #91c842;
	position: relative;
	z-index: 99;
	display: flex;
	border-radius: 6px;
	@media (max-width: 768px) {
		flex-direction: column;
	}

	&__item {
		padding: rem(25) rem(20);

		.hs_cos_wrapper_type_inline_rich_text {
			color: hubl("white");

			* {
				color: hubl("white");
			}
		}

		.hs_cos_wrapper_type_cta {
			display: block;
			margin-top: rem(20);
		}
	}
}