#menu {
	ul {
		display: flex;

		ul {
			display: inline-block;
		}
	}
}

.slicknav_btn {
	margin: 30px 5px 16px !important;
}

header.header .slicknav_menu .search .hs-form input[type="text"] {
	width: 222px !important;
}

.footer .scroll-top {
	@media (max-width: 767px) {
		height: auto;
	}
}