.portfolio-website-listing {

	// HERO BANNER
	.hero-banner {
		margin-bottom: 0px;
	}

	.portfolio-menu-wraper {
		background: hubl("$first_color");
		min-height: 85px;
		width: 100%;

		ul {
			display: flex !important;
			list-style: none;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			min-height: 80px;
			@media screen and (min-width: 0) {
				height: 80px;
			}
			@media only screen and (max-width: 494px) {
				flex-wrap: wrap;
			}

			li {
				width: auto;

				a {
					padding: 0 20px;
					color: #fff;
					@media only screen and (max-width: 494px) {
						padding: 0 10px;
					}

					&:hover {
						color: hubl("white");
						opacity: .4;
					}

					&:active {
						color: hubl("white");
						opacity: .4;
					}
				}

				a.active {
					color: hubl("white");
					opacity: .4;
				}
			}
		}
	}

	// PORTFOLIO LISTING
	.blog-portfolio-wraper {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 13px solid hubl("$first_color");
		transition: opacity 0.3s linear;
		width: 100%;

		.portfolio-item-wrapper {
			position: relative;
			width: 25%;
			padding-bottom: 0%;

			@media only screen and (max-width: 1359px) {
				width: 33.333%;
				//  padding-bottom: 33.333%;
			}
			@media only screen and (max-width: 1024px) {
				width: 50%;
				//  padding-bottom: 50%;
			}
			@media only screen and (max-width: 675px) {
				width: 100%;
				// padding-bottom: 100%;
			}
		}

		.portfolio-blog {
			//background-image: none!important;
			width: 100%;
			padding-bottom: 100%;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			display: block;

			&.new-items {
				opacity: 0;
			}

			.portfolio-hover {
				.content {
					min-width: 0;
				}
			}
		}
	}
}