.socials-fixed {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 0;

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		width: rem(70);
		overflow: hidden;
	}

	&:hover {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: auto;
		}
	}

	&__item {
		width: max-content;
		background-color: #4d4d4f;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		overflow: hidden;
		margin-bottom: rem(10);
		padding: rem(5) rem(20) rem(5) rem(5);
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		transform: translateX(calc(100% - 70px));

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: rem(70);
		}

		@media (max-width: 768px) {
			transform: translateX(calc(100% - 55px));
		}
		@media (max-width: 450px) {
			transform: translateX(calc(100% - 45px));
		}

		&:hover {
			transform: translateX(0);

			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				width: auto;
				p {
					display: block;
				}
			}
		}

		img {
			width: rem(60);
			margin-right: rem(15);
			@media (max-width: 768px) {
				width: rem(40);
			}
			@media (max-width: 450px) {
				width: rem(33);
				margin-right: rem(10);
			}
		}

		p {
			white-space: nowrap;
			line-height: 1;
			font-size: rem(19);
			text-transform: uppercase;
			color: hubl("white");
			margin: 0;
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				display: none;
			}
			@media (max-width: 768px) {
				font-size: rem(16);
			}
			@media (max-width: 450px) {
				font-size: rem(14);
			}
		}
	}
}